<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <nav th:fragment="nav_fragment">
        <div class="card-primary bg-light-gray mt-4">
			<header class="header-style">
				<h2 class="text-green">Páginas de Cadastro</h2>
			</header>

			<div class="mt-3">
				<a class="btn-green mb-2" href="/">Controle</a>
				<a class="btn-green mb-2" href="/cadastro/equipamento">Equipamentos</a>
				<a class="btn-green mb-2" href="/cadastro/sala">Salas e Modelos</a>
				<a class="btn-green mb-2" href="/cadastro/comando">Comandos</a>
				<a class="btn-green mb-2" href="/cadastro/agenda">Agendas</a>
			</div>
        </div>
    </nav>
</body>
</html>